Host goflex
 #Password bOh%tQ4K+w;LSS
 Hostname 192.168.1.15
 User fmaker_hipserv2_seagateplug_PGEY-HWGD-JNUT-QATA

Host android
 Hostname android.cs.ucdavis.edu
 User maker

Host winnie
 Hostname winnie.cs.ucdavis.edu
 User flmaker
 #Port 101

Host messer
 Hostname messer.ece.ucdavis.edu
 User flmaker
 ForwardX11 yes

# ECE Machines

Host snake.ece.ucdavis.edu
 StrictHostKeyChecking no
 CheckHostIP no
 RhostsRSAAuthentication no
 ForwardX11 yes
 UserKnownHostsFile /dev/null

Host bull
 Hostname bull.ece.ucdavis.edu
 User flmaker
 ForwardX11 yes

Host afs1
 Hostname afs1.ece.ucdavis.edu
 User flmaker
 ForwardX11 yes
 
Host almond
 Hostname almond.ece.ucdavis.edu
 User flmaker
 ForwardX11 yes

Host beast
 Hostname beast.ece.ucdavis.edu
 User flmaker
 ForwardX11 yes

Host clover
 Hostname clover.ece.ucdavis.edu
 User flmaker
 ForwardX11 yes

Host marconi
 Hostname marconi.ece.ucdavis.edu
 User flmaker
 ForwardX11 yes

Host photo
 Hostname photo.ece.ucdavis.edu
 User flmaker
 ForwardX11 yes

Host samba1
 Hostname samba1.ece.ucdavis.edu
 User flmaker
 ForwardX11 yes

Host sycamore
 Hostname sycamore.ece.ucdavis.edu
 User flmaker
 ForwardX11 yes

Host volt
 Hostname volt.ece.ucdavis.edu
 User flmaker
 ForwardX11 yes

Host boxwood
 Hostname boxwood.ece.ucdavis.edu
 User flmaker
 ForwardX11 yes

Host wrigley
 Hostname wrigley.ece.ucdavis.edu
 User flmaker
 ForwardX11 yes

Host pizza
 Hostname pizza.ece.ucdavis.edu
 User flmaker
 ForwardX11 yes

